<div class="all">
  <div class="left-toolbar">
    <!-- <h1>yo</h1> -->

    <!-- <button (click)="doRequest()">SLT BUTTON</button>  -->

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card class="form-container-card">
        <mat-card-header>
          <mat-card-title>Remplissez le formulaire</mat-card-title>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <div class="row category-radio-container">
            <label>
              <input type="radio" value="Artist" formControlName="category" />
              <span>Artiste</span>
            </label>
            <label>
              <input type="radio" value="Album" formControlName="category" />
              <span>Album</span>
            </label>
            <label>
              <input type="radio" value="Track" formControlName="category" />
              <span>Morceau</span>
            </label>
          </div>
          <div class="row pt-3" *ngIf="form.value.category == 'Artist'">
            <mat-form-field>
              <input
                matInput=""
                placeholder="Nom de l'artiste"
                formControlName="artistName"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput=""
                placeholder="Genre musical"
                formControlName="artistGenre"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput=""
                placeholder="Instrument joué"
                formControlName="artistInstrument"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput=""
                placeholder="Nom de son Label"
                formControlName="artistLabel"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput=""
                placeholder="Nom de son pays d'origine"
                formControlName="artistCountry"
              />
            </mat-form-field>
          </div>
          <div class="row pt-3" *ngIf="form.value.category == 'Artist'">
            <label>
              <input type="radio" value="Dead" formControlName="artistStatus" />
              <span>Décédé</span>
            </label>
            <label>
              <input
                type="radio"
                value="Alive"
                formControlName="artistStatus"
              />
              <span>En vie</span>
            </label>
            <label>
              <input
                type="radio"
                value="Ignore"
                formControlName="artistStatus"
              />
              <span>Ne pas prendre en compte</span>
            </label>
          </div>
          <div class="row pt-3" *ngIf="form.value.category == 'Album'">
            <mat-form-field>
              <input
                matInput=""
                placeholder="Nom de l'album"
                formControlName="albumName"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput=""
                placeholder="Genre musical"
                formControlName="albumGenre"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput=""
                placeholder="Nom de l'artiste de l'album"
                formControlName="albumArtistName"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput=""
                placeholder="Nom du label de l'album"
                formControlName="albumLabel"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput=""
                placeholder="Nom d'une piste de l'album"
                formControlName="albumTrack"
              />
            </mat-form-field>
          </div>

          <div class="row pt-3" *ngIf="form.value.category == 'Track'">
            <mat-form-field>
              <input
                matInput=""
                placeholder="Nom du morceau"
                formControlName="trackName"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput=""
                placeholder="Nom de l'album"
                formControlName="trackAlbumName"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput=""
                placeholder="Nom de l'artiste du morceau"
                formControlName="trackArtistName"
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button=""
            type="submit"
            color="primary"
            [disabled]="form.invalid"
          >
            Soumettre la requête
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

  <div class="response-container">
    <a href="{{ sparkqlData }}">{{ sparkqlData }}</a>
    <!-- <div class="row" *ngFor="let element in sparqlData">
      <response-card content="element" category="lastRequestCategory"></response-card>

    </div> -->
  </div>

  <div class="sparql-request-container">
    <mat-card class="form-container-card">
      <mat-card-header>
        <mat-card-title>Requête SPARQL</mat-card-title>
      </mat-card-header>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <div class="sparql-request">
          <p>{{ sparkqlQuery }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <router-outlet></router-outlet>
</div>
