:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.all {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left-toolbar {
  width: 30%;
}

.response-container {
  width: 40%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.category-radio-container{
padding-top: 15px;
padding-bottom: 15px;
}

.category-radio-container form{
  display: flex;
  flex-direction: column;
}

.sparql-request-container {
  width: 30%;
  background-color: rgb(222, 222, 222);
}

.pt-3 {
  padding-top: 3px;
}

.form-container-card{
  margin: 15px;
}

.sparql-request {
  white-space:pre-wrap;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 15px;
}