<mat-card *ngIf="isExample">
  <mat-card-header>
    <mat-card-title>{{exampleContent.name}}</mat-card-title>
  </mat-card-header>
  <img matCardImage src="{{exampleContent.image}}" />
  <mat-card-content> {{exampleContent.description}}</mat-card-content>
  <mat-card-actions align="start">
    <a mat-button color="primary" href="{{exampleContent.link}}"a >Vers la page WikiData</a>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="!isExample">
  <mat-card-header>
    <mat-card-title>{{content.name}}</mat-card-title>
  </mat-card-header>
  <img *ngIf="content.image != undefined" matCardImage src="{{content.image}}" />
  <img *ngIf="content.image == undefined" matCardImage src="./../../../assets/placeholder.png" />
  <mat-card-content> {{content.description}}</mat-card-content>
  <mat-card-actions align="start">
    <a mat-button color="primary" href="{{content.link}}"a >Vers la page WikiData</a>
  </mat-card-actions>
</mat-card>
